<div class="body">
    <h3>QUE SON LAS PULSACIONES</h3>
    <p>En medicina, el pulso de una persona es una onda de presión provocada por la expansión de las arterias como consecuencia de la circulación de sangre bombeada por el corazón. 
    Se obtiene por lo general en partes del cuerpo donde las arterias se encuentran más próximas a la piel, como en las muñecas o el cuello e incluso en la sien.</p>
    <img src="https://previews.123rf.com/images/alexwhite/alexwhite1504/alexwhite150402285/38779817-pulso-naranja-icono-plana-se%C3%B1al-de-frecuencia-card%C3%ADaca.jpg">
</div>
