<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2>REGISTRO DE PERSONAS</h2>
            <form>
                <div class="form-group">
                    <label>IDENTIFICACION</label>
                    <input type="text" name="identificacion" [(ngModel)]="persona.identificacion" class="form-control" />
                </div>
                <div class="form-group">
                    <label>NOMBRE</label>
                    <input type="text" name="nombre" [(ngModel)]="persona.nombre" class="form-control" />
                </div>
                <div class="form-group">
                    <label>SEXO</label>
                    <input type="text" name="sexo" [(ngModel)]="persona.sexo" class="form-control" />
                </div>
                <div class="form-group">
                    <label>EDAD</label>
                    <input type="number" name="edad" [(ngModel)]="persona.edad" class="form-control" />
                </div>
                <div class="form-group">
                    <label>PULSACION</label>
                    <input type="number" name="pulsacion" id="pulso " class="form-control" />
                </div>
                <div class="text-center">
                    <button class="btn btn-primary mr-1" (click)="add()">REGISTRO</button>
                    <button class="btn btn-secondary" type="reset">CANCELAR</button>
                </div>
            </form>
        </div>
    </div>
</div>